---
import GlitchText from '../../components/GlitchText'
import AnimatedContact from './AnimatedContact'
import { GITHUB_URL, LINKEDIN_URL, PHONE_NUMBER } from '../../../data/general'
import { getWhatsappUrl } from '../../../utils/whatsapp'
import AnimatedLink from './AnimatedLink'

const LINKS: {
  name: string
  src: string
  url: string
  isHidden?: boolean
}[] = [
  {
    name: 'LinkedIn',
    src: 'images/contact/32/Linkedin.png',
    url: LINKEDIN_URL,
  },
  {
    name: 'Github',
    src: 'images/contact/32/Github.png',
    url: GITHUB_URL,
  },
  {
    name: 'Whatsapp',
    src: 'images/contact/32/Whatsapp.png',
    isHidden: true,
    url: getWhatsappUrl({
      number: PHONE_NUMBER,
      text: 'Hi, I saw your portfolio and I would like to talk to you about a job opportunity.',
    }),
  },
]

const { class: klass } = Astro.props
---

<section id="contact" class={klass}>
  <div
    class="m-auto flex max-w-[1140px] flex-col items-center justify-center gap-10 p-10 md:gap-12 md:p-12"
  >
    <GlitchText
      as="h2"
      text="Lets Get In Touch"
      client:idle
      className="font-Montserrat font-bold text-4xl md:text-5xl text-tertiary"
    />
    <AnimatedContact client:idle close />
    <div class="flex flex-row gap-4">
      {
        LINKS?.filter?.(({ isHidden }) => !isHidden)?.map(
          ({ name, src, url }, index) => (
            <AnimatedLink
              client:idle
              name={name}
              src={src}
              url={url}
              index={index}
            />
          )
        )
      }
    </div>
  </div>
</section>
