---
import WorkItem from './WorkItem'
import { WORK_EXPERIENCES } from '../../../../data/general'
import WorkExperienceLine from './WorkExperienceLine'

const getIndexPosition = (index: number): 'first' | 'last' | 'middle' => {
  if (index === 0) return 'first'
  if (index === WORK_EXPERIENCES.length - 1) return 'last'
  return 'middle'
}
---

<div
  class="relative flex flex-col items-center justify-center gap-4 p-4 md:block md:gap-0 md:p-8"
>
  <WorkExperienceLine client:idle />
  {
    WORK_EXPERIENCES?.map(
      ({ company, title, from, to, description, logo }, index) => (
        <WorkItem
          client:idle
          position={index % 2 === 0 ? 'left' : 'right'}
          from={from}
          to={to}
          logo={logo || ''}
          company={company}
          title={title}
          indexPosition={getIndexPosition(index)}
        >
          <ul class="ml-4 list-disc">
            {description?.map((desc) => (
              <li>{desc}</li>
            ))}
          </ul>
        </WorkItem>
      )
    )
  }
</div>
