---
import WorkItem from './WorkItem'
import { getImage } from '@astrojs/image'
import { WORK_EXPERIENCES } from '../../../../data/general'

const { src: govtecEduSrc } = await getImage({
  src: 'images/company/govtech.png',
  alt: 'GovTech Edu',
  width: 100,
  height: 100,
})
const { src: bukalapakSrc } = await getImage({
  src: 'images/company/bukalapak.png',
  alt: 'Bukalapak',
  width: 100,
  height: 100,
})
const { src: gradinSrc } = await getImage({
  src: 'images/company/gradin.png',
  alt: 'Gradin',
  width: 100,
  height: 100,
})
const { src: CVBintangSemestaPanganSrc } = await getImage({
  src: 'images/company/no-logo.png',
  alt: 'CV Bintang Semesta Pangan',
  width: 100,
  height: 100,
})

const SRCS = [govtecEduSrc, bukalapakSrc, gradinSrc, CVBintangSemestaPanganSrc]

const parsedWorkExperiences = WORK_EXPERIENCES.map((workExperience, index) => ({
  ...workExperience,
  logo: SRCS[index],
}))
---

<div
  class="flex flex-col items-center justify-center gap-4 p-4 md:block md:gap-0 md:p-8"
>
  {
    parsedWorkExperiences?.map(
      ({ company, title, from, to, description, logo }, index) => (
        <WorkItem
          client:visible
          position={index % 2 === 0 ? 'left' : 'right'}
          from={from}
          to={to}
          logo={logo || ''}
          company={company}
          title={title}
        >
          <ul class="ml-4 list-disc">
            {description?.map((desc) => (
              <li>{desc}</li>
            ))}
          </ul>
        </WorkItem>
      )
    )
  }
</div>
