---
import WorkItem from './WorkItem'
import { getImage } from '@astrojs/image'
import { WORK_EXPERIENCES } from '../../../../data/general'
import WorkExperienceLine from './WorkExperienceLine'

const parsedWorkExperiences = await Promise.all(
  WORK_EXPERIENCES.map(async (workExperience, index) => ({
    ...workExperience,
    logo: await getImage({
      src: workExperience.logo,
      alt: workExperience.company,
      width: 100,
      height: 100,
    }).then(({ src }) => src),
  }))
)

const getIndexPosition = (index: number): 'first' | 'last' | 'middle' => {
  if (index === 0) return 'first'
  if (index === parsedWorkExperiences.length - 1) return 'last'
  return 'middle'
}
---

<div
  class="relative flex flex-col items-center justify-center gap-4 p-4 md:block md:gap-0 md:p-8"
>
  <WorkExperienceLine client:visible />
  {
    parsedWorkExperiences?.map(
      ({ company, title, from, to, description, logo }, index) => (
        <WorkItem
          client:visible
          position={index % 2 === 0 ? 'left' : 'right'}
          from={from}
          to={to}
          logo={logo || ''}
          company={company}
          title={title}
          indexPosition={getIndexPosition(index)}
        >
          <ul class="ml-4 list-disc">
            {description?.map((desc) => (
              <li>{desc}</li>
            ))}
          </ul>
        </WorkItem>
      )
    )
  }
</div>
