---
import '@fontsource/inter'
import '@fontsource/montserrat/variable.css'
import '@fontsource/poppins'
import 'react-toastify/dist/ReactToastify.css'
import { ToastContainer } from 'react-toastify'
import { WORK_EXPERIENCES, YEARS_OF_EXPERIENCE } from '../../data/general'
export interface Props {
  title: string
}

const { title } = Astro.props
const baseUrl = 'https://randicha.dev'
const siteName = 'randicha.dev'
const url = baseUrl
const companyCount = WORK_EXPERIENCES?.length
const description = `Passionate Software Engineer with ${YEARS_OF_EXPERIENCE}+ years of experience. I have worked in ${companyCount} companies including leading e-commerce unicorn in Indonesia & in the public sector, specifically for a digital transformation team for Indonesia's Ministry of Education .I am currently working as a ${WORK_EXPERIENCES[0].title} at ${WORK_EXPERIENCES[0].company}.`
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:url" content={url} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${baseUrl}/images/self-no-bg.png`} />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="363" />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#F6F5F5" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#F6F5F5" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <ToastContainer
      client:load
      position="top-center"
      autoClose={3000}
      hideProgressBar
      newestOnTop
    />
  </body>
  <style is:global>
    @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
    @keyframes shimmer {
      0% {
        background-position: -250px 0;
      }
      100% {
        background-position: 500px 0;
      }
    }

    @tailwind utilities;

    @layer utilities {
      .text-gradient {
        @apply bg-gradient-to-r from-purple-400 via-pink-600 to-purple-400 bg-clip-text text-transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
      }
      .shimmer {
        animation: shimmer 5s infinite linear;
      }
    }
    :root {
      --color-primary: #f6f5f5;
      --color-primary-foreground: black;
      --color-primary-border: black;
      --color-primary-hover: #e9e8e8;
      --color-primary-active: #d4d4d4;
      --color-secondary: #d3e0ea;
      --color-secondary-foreground: black;
      --color-secondary-border: none;
      --color-secondary-hover: #bfcdd7;
      --color-secondary-active: #a4b1bb;
      --color-tertiary: #1687a7;
      --color-tertiary-foreground: white;
      --color-tertiary-border: none;
      --color-tertiary-hover: #136f88;
      --color-tertiary-active: #0e5265;
    }
    html {
      font-family: 'Poppins', system-ui, sans-serif;
      background-color: var(--color-primary);
    }
    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
  </style>
</html>
